ros-workspace/build.bak
ros-workspace/devel.bak
ros-workspace/build
ros-workspace/devel
ros-workspace/logs
ros-workspace/logs.bak
ros-workspace/core
ros-workspace/src/aws-robomaker-small-house-world
ros-workspace/src/orb-slam_2_ros
firmware
scripts/*
k8/*
bak
bluetooth-rpi.sh
build-docker.sh
devspace_start.sh
devspace.yaml
*.sh
.git
