[submodule "ros-workspace/src/iai_kinect2"]
	path = ros-workspace/src/iai_kinect2
	url = https://github.com/mihirk2309/iai_kinect2.git
	branch = noetic/devel
[submodule "ros-workspace/src/driver_mpu9250"]
	path = ros-workspace/src/driver_mpu9250
	url = https://github.com/pcdangio/ros-driver_mpu9250.git
[submodule "ros-workspace/src/hoverboard_driver"]
	path = ros-workspace/src/hoverboard_driver
  #url = https://github.com/alex-makarov/hoverboard-driver.git
  url = https://github.com/PaddyCube/hoverboard-driver.git
[submodule "ros-workspace/src/ar_track_alvar"]
	path = ros-workspace/src/ar_track_alvar
	url = https://github.com/pmusau17/ar_track_alvar.git
	branch = noetic-devel
[submodule "ros-workspace/src/ros-sensor_msgs_ext"]
	path = ros-workspace/src/ros-sensor_msgs_ext
	url = https://github.com/pcdangio/ros-sensor_msgs_ext.git
[submodule "ros-workspace/src/orb_slam_2_ros"]
	path = ros-workspace/src/orb_slam_2_ros
	url = https://github.com/appliedAI-Initiative/orb_slam_2_ros.git
[submodule "ros-workspace/src/hoverboard-driver"]
	path = ros-workspace/src/hoverboard-driver
	url = https://github.com/PaddyCube/hoverboard-driver.git
[submodule "firmware/hoverboard-sideboard-hack-STM"]
	path = firmware/hoverboard-sideboard-hack-STM
	url = https://github.com/EmanuelFeru/hoverboard-sideboard-hack-STM.git
[submodule "ros-workspace/src/rosserial_stm32"]
	path = ros-workspace/src/rosserial_stm32
	url = https://github.com/yoneken/rosserial_stm32.git
[submodule "k8/k8s-host-device-plugin"]
	path = k8/k8s-host-device-plugin
	url = https://github.com/everpeace/k8s-host-device-plugin.git
[submodule "ros-workspace/src/i2c_imu"]
	path = ros-workspace/src/i2c_imu
	url = https://github.com/jeskesen/i2c_imu.git
[submodule "ros-workspace/src/rtimulib_ros"]
	path = ros-workspace/src/rtimulib_ros
	url = https://github.com/romainreignier/rtimulib_ros.git
[submodule "ros-workspace/src/openni_camera"]
	path = ros-workspace/src/openni_camera
	url = https://github.com/ros-drivers/openni_camera.git
[submodule "ros-workspace/src/teleop_twist_web"]
	path = ros-workspace/src/teleop_twist_web
	url = https://github.com/tue-robotics/teleop_twist_web.git
[submodule "ros-workspace/src/gazebo_ros_2Dmap_plugin"]
	path = ros-workspace/src/gazebo_ros_2Dmap_plugin
	url = https://github.com/marinaKollmitz/gazebo_ros_2Dmap_plugin.git
[submodule "ros-workspace/src/map2gazebo"]
	path = ros-workspace/src/map2gazebo
	url = https://github.com/shilohc/map2gazebo.git
[submodule "ros-workspace/src/rtabmap_ros"]
	path = ros-workspace/src/rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros.git
[submodule "ros-workspace/src/move_base_flex"]
	path = ros-workspace/src/move_base_flex
	url = https://github.com/magazino/move_base_flex.git
[submodule "ros-workspace/src/rtab_dumpster"]
	path = ros-workspace/src/rtab_dumpster
	url = https://github.com/rfzeg/rtab_dumpster.git
[submodule "ros-workspace/src/aws-robomaker-small-warehouse-world"]
	path = ros-workspace/src/aws-robomaker-small-warehouse-world
	url = https://github.com/aws-robotics/aws-robomaker-small-warehouse-world.git
[submodule "ros-workspace/src/kinect_v2_udrf"]
	path = ros-workspace/src/kinect_v2_udrf
	url = https://github.com/wangxian4423/kinect_v2_udrf.git
[submodule "ros-workspace/src/rosduct"]
	path = ros-workspace/src/rosduct
	url = git@github.com:Rubiaceae65/rosduct.git
[submodule "ros-workspace/src/aws-robomaker-small-house-world"]
	path = ros-workspace/src/aws-robomaker-small-house-world
	url = https://github.com/aws-robotics/aws-robomaker-small-house-world.git
[submodule "ros-workspace/src/ros-pwm-pca9685"]
	path = ros-workspace/src/ros-pwm-pca9685
	url = https://github.com/dheera/ros-pwm-pca9685.git
[submodule "firmware/PS5-Camera-Firmware-Loader"]
	path = firmware/PS5-Camera-Firmware-Loader
	url = https://github.com/raleighlittles/PS5-Camera-Firmware-Loader.git
[submodule "ros-workspace/src/ps5eye"]
	path = ros-workspace/src/ps5eye
	url = git@github.com:Rubiaceae65/ps5eye.git
[submodule "ros-workspace/src/gscam"]
	path = ros-workspace/src/gscam
	url = https://github.com/ros-drivers/gscam.git
[submodule "ros-workspace/src/camera_umd"]
	path = ros-workspace/src/camera_umd
	url = https://github.com/ros-drivers/camera_umd.git
[submodule "ros2-workspace/src/ros-gst-bridge"]
	path = ros2-workspace/src/ros-gst-bridge
	url = https://github.com/BrettRD/ros-gst-bridge.git
[submodule "ros2-workspace/src/camera_info_manager_py"]
	path = ros2-workspace/src/camera_info_manager_py
	url = https://github.com/ros-perception/camera_info_manager_py.git
[submodule "ros2-workspace/src/ros2_kinect2"]
	path = ros2-workspace/src/ros2_kinect2
	url = https://github.com/threeal/ros2_kinect2.git
[submodule "ros2-workspace/src/cv_camera"]
	path = ros2-workspace/src/cv_camera
	url = https://github.com/Kapernikov/cv_camera.git
[submodule "ros2-workspace/src/opencv_cam"]
	path = ros2-workspace/src/opencv_cam
	url = https://github.com/clydemcqueen/opencv_cam.git
[submodule "ros2-workspace/src/ros2_shared"]
	path = ros2-workspace/src/ros2_shared
	url = https://github.com/ptrmu/ros2_shared.git
[submodule "ros2-workspace/src/ros2_v4l2_camera"]
	path = ros2-workspace/src/ros2_v4l2_camera
	url = https://gitlab.com/boldhearts/ros2_v4l2_camera.git
[submodule "ros2-workspace/src/ros2_mpu9250_driver"]
	path = ros2-workspace/src/ros2_mpu9250_driver
	url = git@github.com:Rubiaceae65/ros2_mpu9250_driver.git
[submodule "ros2-workspace/ros-calibration_imu"]
	path = ros2-workspace/ros-calibration_imu
	url = https://github.com/pcdangio/ros-calibration_imu.git
[submodule "ros-workspace/ros-calibration_imu"]
	path = ros-workspace/ros-calibration_imu
	url = https://github.com/pcdangio/ros-calibration_imu.git
[submodule "ros2-workspace/ros2-ORB_SLAM2"]
	path = ros2-workspace/ros2-ORB_SLAM2
	url = https://github.com/alsora/ros2-ORB_SLAM2.git
[submodule "ros2-workspace/rosboard"]
	path = ros2-workspace/rosboard
	url = https://github.com/dheera/rosboard.git
[submodule "ros-workspace/src/ros-calibration_imu"]
	path = ros-workspace/src/ros-calibration_imu
	url = https://github.com/pcdangio/ros-calibration_imu.git
[submodule "ros2-workspace/src/rtabmap_ros"]
	path = ros2-workspace/src/rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros.git
