<launch>
 <param name="robot_description" command="$(find xacro)/xacro --inorder $(find robot_launch)/urdf/test.urdf.xacro"/>  
  <!--Launch Gazebo Simulator-->
  <!--
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model test" output="screen"/>
-->

<!-- Spawn robot in Gazebo -->
	<arg name= "pos_x" default = "5"/>
	<arg name= "pos_y" default = "5"/>
	<arg name= "pos_z" default = "0"/>
	<arg name= "yaw" default = "0"/>
	<arg name= "robot_name" default= "test"/>

	<node name="urdf_robot_model_spawner" pkg="gazebo_ros" type="spawn_model"
	args="-param robot_description
	-urdf
	-x $(arg pos_x)
	-y $(arg pos_y)
	-z $(arg pos_z)
	-Y $(arg yaw)
	-model $(arg robot_name)"
	respawn="false" output="screen"/>

  <!-- Launch teleop -->
  <!-- <node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" launch-prefix="xterm -e" /> -->

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


</launch>
