<launch>

  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="config_filepath" default="$(find robot_launch)/config/joystick.bluetooth.yaml" />
  <arg name="joy_topic" default="joy_vel" />
  
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.3" />
    <param name="autorepeat_rate" value="20" />
    <remap from="joy" to="$(arg joy_topic)" />
  </node>

  <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
    <rosparam command="load" file="$(arg config_filepath)" />
    <remap from="joy" to="$(arg joy_topic)" />
    <remap from="cmd_vel" to="hoverboard_velocity_controller/cmd_vel"/> 

<!--    <remap from="cmd_vel" to="twist_mux/cmd_vel_in"/> -->
  </node>

  <!-- cmd_vel muxer -->
<!--
  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find robot_launch)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="hoverboard_velocity_controller/cmd_vel"/> 
  </node>
 -->

<!-- recorder remote -->
<!--
<group ns="recorder">
  <node name="console_record_pi" pkg="remote_rosbag_record" type="record" respawn="false">
        <param name="record_all" value="true"/>
        <param name="prefix" value="console"/>
        <param name="apped_date" value="true"/>
  </node>


  <node name="joy_record_pi" pkg="remote_rosbag_record" type="joy_listener">
   <param name="start_button" value="8" />
   <param name="stop_button" value="11" />
  </node>
</group>
-->

</launch>
