<launch>

 <param name="robot_description" command="$(find xacro)/xacro --inorder $(find robot_launch)/urdf/test.urdf.xacro"/>  

  <node required="true" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node required="true" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />



  <!-- cmd_vel muxer -->
<node required="true" pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find robot_launch)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="cmd_vel"/> 
</node>

<node required="true" name="rosapi" pkg="rosapi" type="rosapi_node" />

<node required="true" name="rosbridge_websocket_twist" pkg="rosbridge_server" type="rosbridge_websocket" output="screen">
    <param name="authenticate" value="false" />
    <param name="port" value="9090"/>
    <remap from="/cmd_vel" to="/web_vel"/>

</node>

<node required="true" pkg="teleop_twist_web" type="webserver.py" name="teleop_twist_web" output="screen">
      <param name="port" value="8002" />
      <rosparam param="index_names">
          - index.html
      </rosparam>
</node>



</launch>
